<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
</head>
<body>
<h1>学生管理</h1>
<table border="1" style="width: 1250px">
    <tr>
        <td>学生ID</td>
        <td>姓名</td>
        <td>年龄</td>
        <td>性别</td>
        <td>学号</td>
        <td>手机号</td>
        <td>入学日期</td>
        <td>学生描述</td>
        <td>操作</td>
    </tr>
    <tr th:each="student:${list}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.age}"></td>
        <td th:text="${student.sex}"></td>
        <td th:text="${student.number}"></td>
        <td th:text="${student.phone}"></td>
        <td th:text="${student.date}"></td>
        <td th:text="${student.introduce}"></td>
        <td>
            <a th:href="@{/student/updateInfo(id=${student.id})}">修改</a>
            <a th:href="@{/student/deleteStudent(id=${student.id})}">删除</a>
        </td>
    </tr>
</table>

<a th:href="@{/add}"><input type="button" value="增加"></a>

</body>
</html>